<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{{url_for('static',filename='js/time.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/year.css')}}">
    
</head>
<body>
    <div id = 'di', background = 'white'>
        <ul id = 'uo'>
            <li><img src="{{url_for('static',filename='Img/0')}}"></li>
            <li><img ></li>
            <li class= 'xq'><img ></li>
            <li><img ></li>
            <li><img ></li>
            <li class= 'xq'><img ></li>
            <li><img ></li>
            <li><img ></li>
        </ul>
    </div>
    <ul id = 'list1' , class = 'listx'>
        <li><h2>1</h2><p>JAN</p></li>
        <li><h2>2</h2><p>FER</p></li>
        <li><h2>3</h2><p>MAR</p></li>
        <li><h2>4</h2><p>APR</p></li>
        <li><h2>5</h2><p>MAY</p></li>
        <li><h2>6</h2><p>JUN</p></li>
        <li><h2>7</h2><p>JUL</p></li>
        <li><h2>8</h2><p>AUG</p></li>
        <li><h2>9</h2><p>SEP</p></li>
        <li><h2>10</h2><p>OCT</p></li>
        <li><h2>11</h2><p>NOV</p></li>
        <li><h2>12</h2><p>DEC</p></li>
        <div id = 'ms' ></div>
    </ul>
</body>
</html>